html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

footer {
    display: block
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

b,
strong {
    font-weight: 700
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

img {
    border: 0
}

input {
    color: inherit;
    font: inherit;
    margin: 0
}

input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    height: 100%
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block
}

.w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898ec;
    color: #fff;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0
}

input.w-button {
    appearance: button
}

h1,
h4,
h5 {
    font-weight: 700;
    margin-bottom: 10px
}

h1 {
    font-size: 38px;
    line-height: 44px;
    margin-top: 20px
}

h4 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px
}

h5 {
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px
}

p {
    margin-top: 0;
    margin-bottom: 10px
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 40px
}

.w-form {
    margin: 0 0 15px
}

.w-form-done {
    display: none;
    padding: 20px;
    text-align: center;
    background-color: #ddd
}

.w-form-fail {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffdede
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 700
}

.w-input {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc
}

.w-input:-moz-placeholder {
    color: #999
}

.w-input::-moz-placeholder {
    color: #999;
    opacity: 1
}

.w-input:-ms-input-placeholder {
    color: #999
}

.w-input::-webkit-input-placeholder {
    color: #999
}

.w-input:focus {
    border-color: #3898ec;
    outline: 0
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px
}

.w-container:before,
.w-container:after {
    content: ' ';
    display: table;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2
}

.w-container:after {
    clear: both
}

.w-container .w-row {
    margin-left: -10px;
    margin-right: -10px
}

.w-row:before,
.w-row:after {
    content: ' ';
    display: table;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2
}

.w-row:after {
    clear: both
}

.w-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px
}

.w-col-1 {
    width: 8.33333333%
}

.w-col-2 {
    width: 16.66666667%
}

.w-col-4 {
    width: 33.33333333%
}

.w-col-5 {
    width: 41.66666667%
}

.w-col-8 {
    width: 66.66666667%
}

.w-col-11 {
    width: 91.66666667%
}

@media screen and (max-width: 991px) {
    .w-container {
        max-width: 728px
    }
}

@media screen and (max-width: 767px) {

    .w-row,
    .w-container .w-row {
        margin-left: 0;
        margin-right: 0
    }

    .w-col {
        width: 100%;
        left: auto;
        right: auto
    }
}

@media screen and (max-width: 479px) {
    .w-container {
        max-width: none
    }

    .w-col {
        width: 100%
    }
}

.node-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.container-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.link {
    padding-right: 20px;
    padding-left: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase
}

.section {
    margin-top: 20px
}

.container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 370px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/1313.jpg);
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/1313.jpg);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/1313.jpg);
    background-position: 0 0px, 0 0;
    background-size: auto, cover;
    font-family: Lato, sans-serif;
    color: #fff
}

.title {
    margin-bottom: 84px;
    text-align: center
}

.bold-text-21 {
    line-height: 35px
}

.text-block-14 {
    margin-bottom: 67px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 22px;
    font-style: italic;
    text-align: center
}

.submit-button {
    display: block;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #3d84ff;
    -webkit-box-shadow: 1px 1px 3px 0 #000;
    box-shadow: 1px 1px 3px 0 #000;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px)
}

.bold-text-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    padding-top: 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.paragraph-7 {
    margin-top: 20px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    text-align: center
}

.paragraph-14 {
    margin-bottom: 19px;
    text-align: left
}

.field-label-2 {
    font-size: 14px;
    font-style: normal
}

.text {
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
    font-style: italic;
    text-align: left
}

.text-block-10 {
    max-width: 70%;
    margin-right: auto;
    margin-bottom: 19px;
    margin-left: auto;
    border: 3px solid #00a1ff;
    text-align: center
}

.list-item-6 {
    margin-top: 15px;
    font-style: normal;
    text-align: left
}

.bold-text-18 {
    display: block;
    text-align: center
}

.text-block-9 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 210px;
    margin: auto;
    padding-bottom: 10px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    font-size: 20px;
    font-style: normal;
    text-decoration: none
}

.bold-text-13 {
    color: green;
    font-style: normal;
    text-decoration: none
}

.image-8 {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 3px 0 #000;
    box-shadow: 1px 1px 3px 0 #000
}

.image-5 {
    display: block;
    margin: 20px auto;
    border: 4px solid #e7e7e7;
    border-radius: 20px
}

.bold-text-8 {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: underline
}

.form {
    width: 555px;
    height: 585px;
    margin-right: auto;
    margin-left: auto;
    padding: 14px;
    background-image: url(../images/1414.jpg);
    background-position: 0 0;
    background-size: 100% 100%;
    background-attachment: scroll
}

.bold-text-9 {
    font-size: 20px
}

.paragraph-12 {
    font-size: 18px
}

.list-item-9 {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left
}

.bold-text-6 {
    font-size: 22px
}

.list-4 {
    background-color: transparent
}

.column {
    padding-top: 0
}

.text-block {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    color: #777;
    text-align: left
}

.bold-text-11 {
    color: #6e6e6e
}

.paragraph-13 {
    margin-top: 20px;
    font-size: 23px;
    text-align: left
}

.form-block {
    margin-top: 20px
}

.text-block-12 {
    color: #4073fd;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    text-align: left
}

.grid-3 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    -ms-grid-columns: 0.25fr 1fr;
    grid-template-columns: 0.25fr 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    border-radius: 12px;
    background-color: #bcffc0
}

.paragraph-3 {
    margin-top: 20px;
    font-size: 20px;
    line-height: 25px;
    text-align: left
}

.bold-text-10 {
    font-size: 18px
}

.heading-2 {
    margin-top: 11px;
    font-size: 60px;
    text-align: center
}

.text-field {
    position: static;
    display: block;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    -o-object-fit: fill;
    object-fit: fill
}

.list-2 {
    list-style-type: disc
}

.heading-3 {
    font-size: 30px;
    text-align: left
}

.image-3 {
    display: block;
    margin-top: 19px;
    margin-right: auto;
    margin-left: auto
}

.article {
    min-width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    font-style: normal
}

.list-item-5 {
    font-style: normal;
    text-align: left
}

.image-4 {
    display: block;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto
}

.grid-3 {
    padding: 10px
}

.node-wrap {
    padding: 5px 0
}

.text-block-4 {
    font-size: 20px;
    margin-left: 10px
}

.paragraph-8 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    text-align: center
}

.text-block-15 {
    margin-top: 11px;
    text-align: center
}

.paragraph-4 {
    margin-top: 20px;
    padding-left: 15px;
    font-size: 30px;
    line-height: 35px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    text-decoration: underline
}

.div-block-3 {
    margin-top: 17px
}

.paragraph-5 {
    margin-top: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-align: left
}

.paragraph-10 {
    margin-top: 20px;
    font-size: 20px;
    font-style: normal;
    text-align: left
}

.bold-text-14 {
    color: red;
    text-decoration: line-through
}

.bold-text {
    display: block;
    margin-top: 20px
}

.image-6 {
    display: block;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto
}

.div-block {
    padding: 40px 20px 20px;
    background-color: #afffaf
}

.image-2 {
    position: relative;
    display: block;
    max-width: 50px;
    min-height: auto;
    text-align: left
}

.paragraph-6 {
    margin-top: 20px;
    font-size: 20px;
    line-height: 25px;
    font-style: normal;
    font-weight: 400;
    text-align: left
}

.bold-text-7 {
    font-style: normal
}

.text-field-3 {
    display: block;
    width: 70%;
    margin-right: auto;
    margin-left: auto
}

.text-field-2 {
    display: block;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px
}

.text-block-11 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    text-align: left
}

.italic-text-2 {
    display: inline;
    text-align: left
}

.paragraph-11 {
    font-size: 20px;
    font-style: normal;
    text-align: left
}

.image-7 {
    position: relative;
    display: block;
    margin: 35px auto 15px
}

.paragraph-2 {
    margin-top: 20px;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    text-align: left
}

.field-label-3 {
    font-size: 16px;
    font-style: normal;
    text-align: center
}

.text-block-13 {
    margin-top: 5px;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-align: left
}

.italic-text-3 {
    line-height: 23px
}

.border-p {
    margin-top: 15px;
    padding-left: 10px;
    border-left: 7px solid #00ff62;
    border-radius: 12px;
    color: #0091ff;
    font-size: 22px;
    line-height: 25px;
    font-weight: 700
}

.border {
    display: block;
    margin-top: 0
}

.bold-text-23 {
    font-family: Inconsolata, monospace
}

.text-block-16 {
    padding-bottom: 10px;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    text-decoration: none
}

.form-3 {
    padding: 15px 15px 15px 14px;
    border-radius: 15px;
    background-color: #eff1f4
}

.columns-5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    margin-bottom: 15px;
    padding-right: 30px;
    padding-left: 30px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.submit-button-2 {
    display: block;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #3d84ff;
    -webkit-box-shadow: 1px 1px 3px 0 #000;
    box-shadow: 1px 1px 3px 0 #000;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px)
}

.bold-text-26 {
    display: inline;
    margin-right: auto;
    margin-left: auto;
    color: red;
    text-align: center;
    text-decoration: line-through
}

.image-10 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: left
}

.bold-text-27 {
    color: green;
    font-style: normal;
    text-decoration: none
}

.text-span {
    color: red
}

@media screen and (max-width: 991px) {
    .text-block-14 {
        margin-bottom: 36px
    }

    .image-8 {
        width: 40px;
        height: 40px
    }
}

@media screen and (max-width: 767px) {
    .title {
        line-height: 31px
    }

    .bold-text-21 {
        font-size: 25px;
        line-height: 17%
    }

    .bold-text-13 {
        display: block
    }

    .image-8 {
        display: block;
        margin-bottom: 5px
    }

    .form {
        width: 100%;
        height: 533px
    }

    .image-7 {
        margin: 6px auto 15px
    }

    .container-2 {
        padding-right: 10px;
        padding-left: 10px
    }

    .bold-text-28 {
        line-height: 36px
    }
}

@media screen and (max-width: 479px) {
    .title {
        position: relative;
        top: 5%;
        font-size: 25px
    }

    .text-block-14 {
        padding-right: 5px;
        padding-left: 5px
    }

    .paragraph-7 {
        line-height: 30px
    }

    .image-8 {
        margin-bottom: 7px
    }

    .bold-text-8 {
        line-height: 25px
    }

    .form {
        width: 100%;
        height: auto;
        padding-right: 0;
        padding-bottom: 30px;
        padding-left: 0
    }

    .container-2 {
        padding-right: 5px;
        padding-left: 5px
    }

    .bold-text {
        line-height: 55px
    }

    .text-block-16 {
        margin-top: 15px;
        margin-bottom: 5px
    }

    .columns-5 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .bold-text-27 {
        display: inline
    }
}

#w-node-57292bea42d4-e53b288d {
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    align-self: baseline;
    -ms-grid-column-align: center;
    justify-self: center
}

#w-node-57292bea42d6-e53b288d {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: start;
    justify-self: start
}

#w-node-57292bea42d8-e53b288d {
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: start;
    justify-self: start;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 3
}

#w-node-57292bea42da-e53b288d {
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: start;
    justify-self: start;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4
}

#w-node-57292bea42dc-e53b288d {
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: start;
    justify-self: start;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 5
}

@media screen and (min-width: 0\0) {
    .text-block-14 {
        width: 100%
    }

    #w-node-57292bea42d6-e53b288d {
        -ms-grid-row-align: center;
        align-self: center;
        -ms-grid-column-align: start;
        justify-self: start;
        -ms-grid-column: 2;
        grid-column-start: 2;
        -ms-grid-row: 1;
        grid-row-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 3;
        -ms-grid-row-span: 1;
        grid-row-end: 2
    }
}

footer {
    background: #363636
}

footer p {
    margin: 0;
    text-align: center;
    font-size: 13px;
    color: #fff;
    padding: 10px 0
}

.submit-button:focus,
.submit-button:active {
    outline: none
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .title {
        width: 100%;
        max-width: 95%
    }

    footer {
        outline: 2px solid #363636 !important
    }

    footer:hover {
        outline: 2px solid #363636 !important
    }
}

.prod-img {
    max-width: 250px !important;
}

@media screen and (max-width: 1023px) {
    .prod-img {
        max-width: 200px !important;
    }
}
.live {
    max-width: 280px !important;
    width: 100%;
    display: block;
    margin-left: 0 !important;
    margin-top: 5px;
}